<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <span><i class="fas fa-camera-retro"></i></span>
                My Instagram Photos
            </a>
        </div>
    </div>
</nav>